{% extends 'base.html' %}
    {% block content %}
    <!-- seperate divs or they like
    hop ontop of one anotehr -->
    <div id="hoodChart" class="border-4 rounded-lg border-gray p-8 bg-[#fa3e0c] "></div>
    <br>
    <div id="rateChart" class="border-4 rounded-lg border-gray p-4 bg-[#fa3e0c] "></div>
    <br>
    <div id="aidsChart" class="border-4 rounded-lg border-gray p-4 bg-[#fa3e0c] "></div>
    <!-- <div id="eachChart" class="border-4 rounded-lg border-gray p-4 bg-[#fa3e0c] "></div> -->
    <script>
    window.addEventListener('load', function () 
    {
        parse("{{ url_for('static', filename='neighborhood_hvi_rankings.csv') }}", (data) =>
            { 
            const chartData = hivByHoodFormat(data);
            hivByHood(chartData);
            }
            );
    });
    </script>
    <br>
    <script>
        window.addEventListener('load', function () 
        {
        parse("{{ url_for('static', filename='hiv_probabilities_2013.csv') }}", (data) =>
        { 
            const chartData = hivProbFormat(data);
            hivProb(chartData);
        }
            );
        });
    </script>
    <br>
    <script>
        window.addEventListener('load', function () 
        {
        parse("{{ url_for('static', filename='schools.csv') }}", (data) =>
        { 
            const chartData = totalFormat(data);
            total(chartData);
        }
            );
        });
    </script>
    <br>
    <script>
        window.addEventListener('load', function () 
        {
        parse("{{ url_for('static', filename='schools.csv') }}", (data) =>
        { 
            const chartData = eachFormat(data);
            each(chartData);
        }
            );
        });
    </script>
    {% endblock %}