<!DOCTYPE html>
<!--
  Giraffesnakeotterpenguin: Stella Y., Evan C., Moyo F., Jady L.
  SoftDev
  P04: Bit Strife
  TBD
  Time Spent: 4/6 hours
-->

<html>
  <head>
      <meta charset="UTF-8">
      <title>Home</title>
      <script src="https://cdn.tailwindcss.com"></script>
      <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
      <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.2/papaparse.min.js"></script>
      <script src="/static/js/chart.js?v=1.1" defer></script>
      <link rel="stylesheet" href="../static/css/bg.css">
      <link rel="stylesheet" href="../static/css/theme.css">
  </head>
  <body>
    <!-- nav + bg -->
    {% extends 'base.html' %}
    {% block content %}
    <!-- idiot egg -->
    <div class="flex justify-center">
      <img class="object-scale-down" src="../static/egg.gif"/>
    </div>
    <div class="flex justify-center">
      <!-- button to game -->
      <button type="submit" class="bg-yellow-400 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded">
        <a href="/game" class="self-center text-xl font-[Avenir] font-semibold whitespace-nowrap dark:text-white">
        Play Bit Strife!
      </button>
    </div>
    <div id="chart"></div>
    <script>
      parse("../static/js/hiv_probabilities_2013.csv", (data) =>
          { 
            const chartData = format(data);
            render(chartData);
          }
            );
    </script>
    {% endblock %}
  </body>

</html>
