<!DOCTYPE html>
<!--
  Giraffesnakeotterpenguin: Stella Y., Evan C., Moyo F., Jady L.
  SoftDev
  P04: Bit Strife
  TBD
  Time Spent: 4/6 hours
-->
<html>
  <head>
      <meta charset="UTF-8">
      <title>Profile</title>
      <script src="https://cdn.tailwindcss.com"></script>
      <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
      <link rel="stylesheet" href="../static/css/bg.css">
  </head>
  <body>
    <!-- nav + bg -->
    {% extends 'base.html' %}
    {% block content %}

    <h1>{{username}}</h1>
    {{playtable | safe}}

    {% endblock %}
  </body>

</html>
