<!DOCTYPE html>
<!--
  Giraffesnakeotterpenguin: Stella Y., Evan C., Moyo F., Jady L.
  SoftDev
  P04: Bit Strife
  TBD
  Time Spent: 4/6 hours
-->
<html>
  <head>
      <meta charset="UTF-8">
      <title>Profile</title>
      <script src="https://cdn.tailwindcss.com"></script>
      <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
      <link rel="stylesheet" href="../static/css/bg.css">
      <style>
        #innards {
          padding: 20px
        }
        h1, h3 {
          font-size: 30px;
          color: white;
        }
        table, th, td {
          color: white;
          border: 1px solid;
          width: 70em;
        }
      </style>
  </head>
  <body>
    <!-- nav + bg -->
    {% extends 'base.html' %}
    {% block content %}

    <div id="innards">
      <h1>Username: {{username}}</h1>
      <br>
      <h3>Top Score: {{score}}</h3>
      <br>
      <h3>Number of Games: {{numGames}}</h3>
      <br>
      {{playtable | safe}}

      {% endblock %}
    </div>
  </body>

</html>
